html
  head
    h2 WORKOUT DISPLAY!
    |
    |
  body
    p Enter time domain:
    input 
    button Submit
    |
    |
    - var style = workoutObj.style
    - var time = workoutObj.time
    h3=style + ' ' + time
    |
    |
    - var display = workoutObj.workout
    ul
      each set in display
        li= set[0] + ' ' + set[1].name
    |
    |
    style(type="text/css").
      a:hover {
        color: red
      }
    - var url = 'new'
    a(href=url) Take me to another page
