
html
  head
    h2=title
    |
    |
  body
    form(method='POST' action='/new')
      label(for='timeDomain') Enter time:
      input(type='text' placeholder='time domain' name='timeDomain' value=(undefined===timeDomain ? '' : workout.timeDomain) required='true')
      button(type='submit') Generate

      
