html
  head
    link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
  body
    - var style = workoutObj.style
    - var time = workoutObj.time
    h3=style + ' ' + time
    |
    |
    - var display = workoutObj.workout
    ul
      each set in display
        li= set[0] + ' ' + set[1].name
    |
    |
    - var url = 'new'
    a(href=url) Back
    |
    |
    - var indexUrl = '/'
    a(href=indexUrl) Index
